apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: testservice
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
  type: ClusterIP # один из видов Service, который создаёт виртуальный IP-адрес, доступный только внутри кластера.