apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka
  namespace: testservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:

      containers:
        - name: kafka
          image: confluentinc/cp-kafka:7.4.0
          ports:
            - containerPort: 9092
            - containerPort: 29092
          envFrom:
            - configMapRef:
                name: kafka-config
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - "kafka-topics --bootstrap-server localhost:9092 --list"
            initialDelaySeconds: 30
            periodSeconds: 10
          lifecycle:
            preStop:
              exec:
                command:
                  - sh
                  - -c
                  - |
                    # Graceful shutdown
                    kill -s TERM 1
                    # Ждем корректного завершения
                    sleep 30