services:
  testservice_app:
    container_name: testservice_app
    ports:
      - "8080:8080"
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://testservice_postgres:5432/testservice_db
      SPRING_DATASOURCE_USERNAME: uuser
      SPRING_DATASOURCE_PASSWORD: ppassword
      KAFKA_BOOTSTRAP_SERVERS: testservice_kafka:9092
      REDIS_HOST: testservice_redis
    depends_on:
      testservice_postgres:
        condition: service_healthy
      testservice_kafka:
        condition: service_healthy
    networks:
      - postgres-testservice-net
      - kafka-testservice-net
      - redis-testservice-net

  testservice_redis:
    container_name: testservice_redis
    hostname: testservice_redis
    image: redis:alpine3.20
    ports:
      - "6379:6379"
    command: redis-server --requirepass 1111
    environment:
      REDIS_HOST: testservice_redis
      REDIS_PORT: 6379
    networks:
      - redis-testservice-net

  testservice_kafka:
    container_name: testservice_kafka
    image: confluentinc/cp-kafka:6.2.4
    depends_on:
      testservice_zookeeper:
        condition: service_healthy
    ports:
      - "9092:9092"
      - "29092:29092"
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "localhost:9092", "--list"]
      interval: 10s
      timeout: 3s
      retries: 3
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: testservice_zookeeper:2181
      KAFKA_KRAFT_MODE: "false"

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1
      KAFKA_MIN_INSYNC_REPLICAS: 1

      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

      KAFKA_LISTENERS: INTERNAL://:9092,EXTERNAL://:29092
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://testservice_kafka:9092,EXTERNAL://localhost:29092  # куда Kafka будет "перенаправлять" клиента после того, Как тот подключится к ней.
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT               # Настраиваем шифрование В нашем случае PLAINTEXT означает его отсутствие
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL  # Указываем, что для брокеров используется "Слушатель" INTERNAL
      CLUSTER_ID: ZETVJENWRjaECDUEExP_eg        # Уникальный ID кластера в формате UUID
    networks:
      - kafka-testservice-net

  testservice_kafka_ui:
    container_name: testservice_kafka_ui
    image: provectuslabs/kafka-ui:latest
    ports:
      - "8081:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: testservice_kafka:9092
      DYNAMIC_CONFIG_ENABLED: "true"
    depends_on:
      - testservice_kafka
    networks:
      - kafka-testservice-net

  testservice_zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: testservice_zookeeper
    environment:
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "22181:2181"
    healthcheck:
      test: [ "CMD", "nc", "-z", "localhost", "2181" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - kafka-testservice-net

  testservice_postgres:
    container_name: testservice_postgres
    image: postgres:14.8-alpine3.18
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: testservice_db
      POSTGRES_USER: uuser
      POSTGRES_PASSWORD: ppassword
    volumes:
      - pg-testservice-vol:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U uuser -d testservice_db" ]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 60s
    networks:
      - postgres-testservice-net

volumes:
  pg-testservice-vol:
    driver: local

networks:
  postgres-testservice-net:
    driver: bridge
    name: postgres-testservice-net
  kafka-testservice-net:
    driver: bridge
    name: kafka-testservice-net
  redis-testservice-net:
    driver: bridge
    name: redis-testservice-net