apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: testservice
spec:
  selector:
    app: redis
  ports:
    - port: 6379
      targetPort: 6379
  type: ClusterIP # Service only reachable from within the cluster