<configuration>
<!--    Включаю стандартные настройки Spring чтобы использовать CONSOLE_LOG_PATTERN-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder> <pattern>${CONSOLE_LOG_PATTERN}</pattern> </encoder>
    </appender>

    <springProperty scope="context" name="KAFKA_BOOTSTRAP_SERVERS" source="spring.kafka.bootstrap-servers"/>
    <springProperty scope="context" name="KAFKA_LOG_TOPIC" source="app.kafka.log-topic"/>


    <logger name="ru.bellintegrator.test.service" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework" level="WARN" />
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>